body {
  background-color: #000;
  font-family: Verdana, Geneva, sans-serif;
  box-sizing: border-box;
}

/* .App {
  text-align: center;
} */

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

a {
  text-decoration: none;
  transition: color 0.1s linear;
  color: #477dca;
  background-color: rgba(0,0,0,0);
}

input {
  border: none;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

button, input, optgroup, select, textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

div {
  display: block;
}

.container {
  width: calc(85% - 10px);
  margin: 0 auto;
  background-color: white;
}

.SearchHeader {
  background-color: #ff742b;
}

.SearchHeader_search {
  height: 60px;
  display: flex;
  align-items: center;
  background: #ff742b;
  height: auto;
  padding: 4px;
  position: relative;
  justify-content: space-between;
}

.SearchHeader_logo {
  flex: 1 0 180px;
  max-width: 180px;
  display: flex;
  align-items: center;
}

.SearchHeader_logo img {
  width: 48px;
  margin-right: 8px;
}

.SearchHeader_label {
  color: #000;
  font-size: 18px;
  line-height: 1;
}

.SearchHeader_container {
  position: relative;
  display: inline-block;
  width: calc(100% - 324px);
  margin-right: 16px;
}

.SearchHeader .SearchIcon {
  position: absolute;
  top: 9px;
  left: 12px;
  color: #ff742b;
  font-size: 24px;
  pointer-events: none;
}

.SearchHeader .SearchIcon svg {
  width: 24px;
  height: 24px;
}

.SearchHeader .SearchInput {
  border-radius: 0;
  border-color: rgba(0, 0, 0, 0);
  border: none;
  height: 42px;
  width: 100%;
  box-shadow: none;
  padding: 16px 144px 16px 54px;
  font-weight: 300;
  background-color: #fff;
  color: rgba(0, 0, 0, 0.75);
}

.SearchHeader .PoweredBy {
  color: rgba(33, 36, 61, 0.5);
  display: flex;
  align-items: center;
  font-size: 12px;
  margin-left: 8px;
  white-space: nowrap;
  position: absolute;
  right: 8px;
  top: 50%;
  transform: translate(0, -50%);
  user-select: none;
}

.SearchHeader .PoweredBy a {
  display: flex;
  margin: 0 8px;
}

.SearchHeader .PoweredBy img {
  height: 20px;
  transform: translate(0, 0px);
}

.SearchHeader_settings a {
  display: flex;
  align-items: center;
  color: #000;
}

.SearchHeader_settings svg {
  margin: 0 8px;
}

.SearchFilters {
  color: #000;
  z-index: 10;
  height: 42px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 12px;
  padding: 0 8px;
  background-color: #f6f6ef;
}

.SearchFilters_menuButton {
  display: none;
  border: solid 1px #c3c3c3;
  border-radius: 2px;
  cursor: pointer;
  outline: none;
  padding: 4px;
  width: 24px;
  height: 24px;
  color: #c3c3c3;
  background-color: #fff;
}

.SearchFilters_filters {
  display: flex;
  align-items: center;
}

.SearchFilters_meta {
  display: flex;
  align-items: center;
}